<!DOCTYPE html>
<html lang="en" ng-app="wallet">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Wallet</title>
	<link href="./assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container"  data-ng-controller="operationsCtrl">
		<h1>Wallet</h1>
		<nav class="navbar navbar-default">
			<ul class="nav nav-pills">
		      	<li><a href="#">Home</a></li>
		      	<li><button ng-click="resetWallet()">Reset</button></li>
		      	<li><a href="https://github.com/sonyalas/wallet" target="_blank">View Source</a></li>
			</ul>
		</nav>

		<form class="form-inline" ng-submit="updateWallet()"> 
			<div class="form-group">
			    <label class="sr-only" for="exampleInputAmount">Amount</label>
		    	<div class="input-group">
		      		<div class="input-group-addon">€</div>
		      		<input type="number" class="form-control" id="exampleInputAmount" placeholder="Amount" ng-model="amount" min="0" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required>
	    		</div>
			</div>
			<select class="form-control" ng-model="operation" required>
			  <option>Add</option>
			  <option>Remove</option>
			</select>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<div class="results">
			<table class="table">
				<tr ng-repeat="l in historial">
				  <td><span ng-show="l.operation=='Remove'">-</span>{{l.amount}}€</td>
				  <td>{{l.date | date: 'dd/MM/yyyy HH:mm'}}</td>
				</tr>
			</table>
			<p>Total amount: {{ totalAmount }}€</p>
		</div>
	</div>
	<script src="./assets/js/jquery-3.1.1.min.js"></script>
	<script src="./assets/js/bootstrap.min.js"></script>
	<script src="./assets/js/angular.min.js"></script>
	<script src="./assets/js/angular-route.min.js"></script>
	<script src="./assets/js/script.js"></script>
</body>
</html>
